*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #728285; /* light gray */
    --secondary-color: #353434; /* dark gray */
    --accent1-color: #02075a; /* dark blue */
    --accent2-color: #0155a3; /* light blue */
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}
header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 250px 1fr;
    align-items: center;
    padding: 10px 0;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color)
}

nav{
    display: flex;
    gap: 1rem;
    justify-content: center; 
}

.buttons a{
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    border: 2px solid lightgray;
    border-radius: 6px;
}

.adventures h2 {
    text-align: center;
}

.adventurepics {
    border: 3px solid black;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
}

.adventures figure {
    width: 150px;
}

.adventures figcaption {
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.adventures img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

p, article {
    margin: 16px;
    padding: 8px
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.history img{
    width: 250px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 50px;
    height: auto;
    margin-top: 10px;
    margin-right: 15px;
}

.hero {
    position: relative;
}

.hero article {
    bottom: 2px;
    position: absolute;
    width: 93%;
    padding: 16px;
    text-align: center;
    background-color: var(--accent2-color);
    opacity: 0.7;
    color: #fff; /* white text - make sure there is enough contrast with the background color */
}

footer {
    display: flex;
    justify-content: end;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff; /* white text - make sure there is enough contrast with the background color */
}

.hero article img {
    float: right;
    width: 150px;
}

.contact-hero img {
    position: relative;
}

.contact-hero {
    position: relative;
}

.contact-hero h1 {
    font-size: 25px;
    color: #000000;
    background: transparent;
}

.company-info {
    bottom: 10px;
    font-size: 1rem;
    margin-top: .5rem;
    text-align: center;
}

.employeepics {
    border: 3px solid black;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-align: center;
}

.map {
    margin: 10px;
}

.headers, footer{
    background: #728285;
}



.contact-layout {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    margin: 40px auto;
    max-width: 1000px;
}

.map iframe {
    width: 450px;
    height: 350px;
    border: 0;
}

.contact-form-section {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.contact-form-section label,
.contact-form-section input,
.contact-form-section textarea,
.contact-form-section button {
    margin-bottom: 12px;
    width: 100%;
}

.newsletter h2 {
    margin: auto;
}
.newsletter {
    margin-top: 30px;
    display: flex;
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
}
.trip-link h2{
    margin-top: 20px;
    text-align: center;
}

.trip-link a{
    font-size: x-large;
    font-weight: bolder;
    margin: 30px;
    padding: 30px;
    border: 20px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;       
    max-width: 800px; 
    margin: 0 auto;   
}
.trips-grid p {
    text-align: center;
}
.trips-grid h3 {
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

.trips-grid img {
    justify-content: center;
}

.cta {
    text-align: center;
    margin-bottom: 40px;
}

.trips-table {
    display: flex;
    justify-content: center;
}