*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

:root {
    --img-height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color:rgb(70, 70, 70)
    padding: .5rem
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid gray;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    marin: 0 0 1rem 1rem;
}
p {
    margin: 1rem;
}

main{
    max-width: 840px;
}

aside{
    width: 500px;
    margin: 50px;
    border: 5px solid rgb(102, 101, 101);
    padding: 10px;
    background-color: rgb(196, 195, 195);
    color: black;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2{
    position: absolute;
    top: 45px;
    left: 350px;
}

p{
    padding: 0;
}

footer{
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}