:root {
    --img-height: auto;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1{
    color:rgb(70, 70, 70)
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid gray;
    padding: 2px;
    box-shadow: 15px 10px 30px rgb(0, 0, 0);
}
main{
    max-width: 840px;
}

aside{
    width: 500px;
    margin: 50px;
    border: 5px solid rgb(102, 101, 101);
    padding: 10px;
    background-color: rgb(196, 195, 195);
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p{
    padding: 0;
}

footer{
    margin-top: 20px;
    border-top: 1px solid black;
    text-align: center;
}